* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to bottom right, #00c3e8, #e1e1e1);;
}

.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  max-height: 100vh;

}